@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../components/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-background: #f1f3f9;
    --color-foreground: #131b2e;
    --color-primary: #2463eb;
    --color-secondary: #475569;
    --color-tertiary: #0f172a;
    --color-surface: #f1f3f9;
    --color-error: #ef4444;
    --color-elevated: #e9ebf2;
    --ring: #2463eb;

    --color-card: #e9ebf2;          /* elevated */
    --color-card-nested: #dde0ea;   /* un paso más oscuro que elevated */
    --color-muted: #f8fafc;         /* para textos/fondos secundarios */
    --color-accent: #2463eb1a;      /* primary con opacidad */
    --color-popover: #ffffff;       /* blanco puro para popovers */
    --color-danger: #d16900;
}

.dark {
    --color-background: #0b1326;
    --color-foreground: #dae2fd;

    --color-primary: #3b82f6;
    --color-secondary: #6177a5;
    --color-tertiary: #0f172a;

    --color-card: #171f33;          /* un paso más claro que background */
    --color-card-nested: #1e293b;   /* secondary */
    --color-muted: #334155;         /* entre background y secondary */
    --color-accent: #2463eb33;      /* primary con opacidad */
    --color-popover: #1e293b;       /* mismo que card */
    --color-danger: #d16900;
}

@layer base {
    * {
        @apply border-dashed;
    }
    body {
        @apply bg-background text-foreground w-full min-w-full;
    }
}